CSP_ASSIGNMENT.zip
__pycache__/csp.cpython-311.pyc
__pycache__/map_coloring.cpython-311.pyc
new/__pycache__/csp.cpython-311.pyc
tests/__pycache__/test_map_coloring.cpython-311.pyc
__pycache__/generic_csp.cpython-311.pyc
